<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="username" name="username" required [(ngModel)]="user.username">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="name" name="name" required [(ngModel)]="user.name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="mail" name="email" required [(ngModel)]="user.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required [(ngModel)]="user.password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<a routerLink="/auth/login" class="btn btn-link">J'ai déjà un compte !</a>