<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Main skill</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.skill}}</td>
          <td><button *ngIf="isAdmin()" (click)="deleteUser(user.username)" class="btn btn-danger">Delete</button>
              <button (click)="userDetails(user.username)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <ul class="pagination">
        <li *ngFor="let p of pages; let i=index"><a href="#" (click)="setPage(i, $event)" [ngClass]="{'active':i==page}">{{i}}</a></li>
      </ul>
      </div>
  </div>
</div>