<nav class="navbar haut" style="margin-bottom:60px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/users/all">Users</a></li>
        <li><a routerLink="/posts/all">Posts</a></li>
        <li><a routerLink="/post/new" *ngIf="isLoggedIn">New Post</a></li>
        <li><a routerLink="/profil"  class="nav-link" *ngIf="isLoggedIn">Profil</a></li>
        <li><a href class="nav-link" (click)="logout()" *ngIf="isLoggedIn">LogOut</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn">
        <li><a routerLink="/auth/login">Login</a></li>
        <li><a routerLink="/auth/registration">Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
<router-outlet></router-outlet>
</div>

<nav class="navbar">
<p style="text-align:center"><img src="http://www.chordata.fr/fichiers/logo2.png" width="50"/></p>
</nav>