<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Posts List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>Author</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{post.user}}</td>
          <td>{{post.subject}}</td>
          <td>{{post.message}}</td>
          <td>{{post.category}}</td>
          <td><button (click)="postDetails(post.postId)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>