<div class="container">
  <header class="jumbotron">
    <h3>
      <strong>{{ user.username }}</strong>
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ user.email }}
  </p>
  <p>
    <strong>Skill:</strong>
    {{ user.skill }}
  </p>
</div>

<hr>

<h3>Posts</h3>
<br>

<div *ngIf="user.posts">
  <div *ngFor="let post of user.posts">
    <p>
      <span class="subject">Subject : {{ post.subject }}</span><br>
      <a [routerLink]="['/onepost', post.postId]">
      <span class="message">Message : {{ post.message }}</span></a>
    </p>
  </div> 
</div> 