<!--<h2>Employee Details</h2> 

<hr/>
<div *ngIf="user">
  <div>
    <label><b>First Name: </b></label> {{user.name}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{user.username}}
  </div>
  <div>
    <label><b>Email: </b></label> {{user.email}}
  </div>
<div *ngIf="user.posts">
  <div *ngFor="let posts of user.posts">
    <p>
      <span>posts.subject</span><br>
      <span>posts.message</span>
    </p>
  </div> 
</div> 
</div>

<br>
<br>
<button (click)="listUsers()" class="btn btn-primary">Back to Employee List</button><br>-->

<div class="container">
  <header class="jumbotron">
    <h3>
      <strong>{{ user.username }}</strong>
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ user.email }}
  </p>
</div>
<div *ngIf="user.posts">
  <div *ngFor="let post of user.posts">
    <p><a [routerLink]="['/onepost', post.postId]">
      <span>{{ post.subject }}</span><br>
      <span>{{ post.message }}</span></a>
    </p>
  </div> 
</div> 