/* You can add global styles to this file, and also import other style files */

nav .haut {
    margin-bottom : 50px;
}

.navbar {
    border-radius: 0px!important;
}

div.container {
    margin-bottom: 80px;
}

nav.bas{
    position:fixed;
    bottom:0px;
    width:100%;
    margin-bottom: 0px!important;
}

a {
    color : white;
    font-weight: bold;
}

body > app-root > nav.navbar.haut > div > div.navbar-header > button {
    background-color: black;
}

body > app-root > nav.navbar.haut > div > div.navbar-header > button > span {
    background-color: white;
}

body > app-root > nav.navbar.haut {
    background-color: #087144;
}

body > app-root > nav:nth-child(3) {
    background-color:#087144;
}

div.alert-danger {
    padding : 10 px!important;
    border-radius: 5px;
}